body {
    font-family: sans-serif;
    background-color: rgb(186, 54, 54);
    color: antiquewhite;
}

img{
    height: 500px;
}
h1{
    text-align: center;
    font-size:  100px;
}
img{
    height: 500px;
    opacity: 0,5;
}
h2{
    text-align: center;
    
}
h1{
    text-align: center;
    font-size: 100px;
}
  
